html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'PT Sans', arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.main-header {
	background-image: url("../img/background-photo.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 1200px 800px;
}

.advantage-item h3 {
	font-weight: bold;
}

.button-form {
	text-align: center;
	background-color: #ffffff;
}
.interested-section {
	width: 435px;
	margin: 0 auto;
	padding-top: 57px;
	padding-bottom: 52px;
}

.interested-title {
	font-weight: bold;
	font-size: 30px;
	line-height: 36px;
	margin: 0;
}

.button {
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	border: none;
}

.blue-button {
	color: #ffffff;
	background-color: #81b3d2;
}

.blue-button:hover {
	color: #ffffff;
	background-color: #669ec0;
}

.blue-button:focus {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.brown-button {
	color: #ffffff;
	background-color: #766357;
}

.brown-button:hover {
	color: #ffffff;
	background-color: #604e43;
}

.brown-button:focus {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}


.main-navigation {
	font-size: 14px;
	line-height: 26px;
	color: #000000;

	background-color: #ffffff;
}

.main-header-logo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}	

.site-navigation {
	list-style: none;
	font-weight: bold;
	display: flex;
	margin: 0;
	padding: 0;
	
}

.site-navigation li:nth-child(3) {
	margin-left: auto;
	
}

.site-navigation a {
	vertical-align: middle;
	font-size: 14px;
	line-height: 56px;
	color: #000000;
	text-decoration: none;
	display: inline-block;
	width: 239px;
	text-align: center;

}

.site-navigation a:hover {
	color: #81b3d2;

}
.site-navigation a:focus {
	color: rgba(0, 0, 0, 0.3);
}

.site-navigation:nth-child(4) {
	justify-content: flex-end;
}
.welcome {
	text-align: center;
	padding: 77px 0px;
	position: relative;
	margin: 0;
}

.description {
	background-color: #ffffff;
	text-align: center;
	padding: 55px 20px;
}

.description-title {
	width: 440px;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	margin: 0 auto;
}

.description-text {
	font-size: 14px;
	line-height: 26px;
}

.advantages h3 {
	font-size: 21px;
	line-height: 21px;

}

.advantages-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}

.features-list {
	order: 2;
}

.features-list ul {
	list-style: none;
	color: black;
	background-color: #ffffff;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 0;
	padding-top: 46px;
	padding-bottom: 86px;
}

.features-item {
	text-align: center;
	width: 33%;
}

.advantages-item {
	text-align: center;
	width: 400px;
}

.reason-1,
.reason-2 {
	position: relative;
	color: #ffffff;
	background-color: #81b3d2;
	width: 100%;
}

.reason-1 {
	order: 1;
	padding-top: 46px;
	padding-right: 840px;
	padding-bottom: 41px;
	padding-left: 60px;
	
}

.reason-1 img {
	position: absolute;
	top: 0;
	right: 0;
}

.reason-2 {
	padding-top: 49px;
	padding-right: 49px;
	padding-bottom: 37px;
	padding-left: 840px;
	order: 3;
	padding-top: 49px;
}

.reason-2 img {
	position: absolute;
	top: 0;
	left: 0;
}

.reason-3,
.reason-4,
.reason-5 {
	background-color: #eeeeee;
	order: 3;
	padding-top: 50px;
}

.reason-3 {
	padding-top: 45px;
	padding-right: 97px;
	padding-bottom: 45px;
	padding-left: 95px;
}

.reason-4 {
	padding-top: 45px;
	padding-right: 69px;
	padding-bottom: 45px;
	padding-left: 69px;
}

.reason-5 {
	padding-top: 45px;
	padding-right: 77px;
	padding-bottom: 45px;
	padding-left: 77px;
}

.search-form {
	position: relative;
}

.button-search-form {
	position: relative;
	width: 568px;
	font-size: 21px;
	line-height: 26px;
	margin: 0 auto;
	padding-top: 35px;
	padding-bottom: 33px;
}

.search-form form {
	font-weight: bold;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	background-color: #ffffff;
	background-size: 568px 395px;
	width: 568px;
	padding-top: 55px;
	padding-right: 55px;
	padding-bottom: 55px;
	padding-left: 55px;
}

.button-to-find {
	width: 458px;
	font-size: 21px;
	line-height: 26px;
	padding-top: 20px;
	padding-right: 197px;
	padding-bottom: 20px;
	padding-left: 197px;

}

.number-of-people {
	display: flex;
}

.add-reduce {
	display: flex;
}

.footer {
	padding-top: 36px;
	color: #000000;
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
	padding-left: 132px;
	padding-right: 101px;
}

.main-footer {
	margin-top: -120px;
	position: relative;
    z-index: 2;
    background-color: rgba(255,255,255,0.9);
	
}

.footer-contacts {
	font-weight: bold;
	width: 223px; 
	display: block;
}

.footer-contacts a {
	color: #000000;
	text-decoration: none;
	display: block;
}

.footer-social {
	text-align: center; 
}

.footer-social ul {
	list-style: none;
}

.social-button {
	color: #ffffff;
}

.button-tw {
	background-image: url("../img/tw-icon.svg")
	background-color: #81b3d2;
}

.footer-social a:hover {
	color: #ffffff;
	background-color: #669ec0;
}

.footer-social a:focus {
	color: #ffffff;
	opacity: 0.3;
	background-color: #5496bd;
}

.footer-copyright {
	text-align: center;
}

.footer-copyright a {
	color: #000000;

}

.footer-copyright a:hover {
	color: #81b3d2;
}

.footer-copyright a:focus {
	color: #bdbbbc;
}


					/*hotels.html*/

.filter {
	display: flex;
	justify-content: space-around;
	background-image: url("..//img/filter-background.jpg");
	background-size: cover;
	background-position: 50%;
	padding-top: 31px;
	color: #ffffff;
}

.filter fieldset {
	border: none;

}

.filter legend {
	font-size: 16px;
	line-height: 21px;
}

.filter ul {
	list-style: none;
	padding: 0;
}

.filter:disabled + label {

}

.found {
	display: flex;
	background-color: #ffffff;
	padding-left: 72px;
}

.found p {
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}

.sorting {
	display: flex;
	font-size: 12px;
	line-height: 18px;
}

.sorting-list {
	list-style: none;
	display: flex;
}

.sorting-list a {
	text-decoration: none;
}
.sorting-by-price a {
	color: #81b3d2;
}

.sorting-by-type a,
.sorting-by-rating a {
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted #81b3d2
}

.sorting-by-type a:hover,
.sorting-by-rating a:hover {
	color: #81b3d2;
}

.sorting-by-type a:focus,
.sorting-by-rating a:focus {
	color: #000000;
}

.catalog-list {
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: #ffffff;
	padding-left: 72px;
}

.catalog-list a {
	text-decoration: none;
}

.catalog-list h2:hover {
	color: #81b3d2;
}

.catalog-list h2:focus {
	color: rgba(0, 0, 0, 0.3);
}

 .hotel-details {
 	margin-left: 30px;
 }


.more-detailed {
	width: 110px;
	padding-top: 8px;
	padding-right: 16px;
	padding-bottom: 8px;
	padding-left: 16px;
}

.to-book {
	width: 142px;
	padding-top: 8px;
	padding-right: 16px;
	padding-bottom: 8px;
	padding-left: 16px;
}

.catalog-item {
	display: flex;
}

.catalog-item img {
	margin-right: auto;
}

.rating {
	margin-left: auto;
	margin-right: 73px;
	background-color: #f2f2f2;
	padding: 5px 13px 6px 16px;

}
